{% include "header.html.twig" %}

<div class="content jumbotron">

    <div class="container-fluid ">

        <div class="row">

            <div class="col-sm-2">
                <div class="category-tree">
                    {{ categories | raw }}
                </div>
            </div>

        <br>

            <div class="col-sm-10">
                <div class="breadcrumbs container-fluid">
                    {{ breadcrumbs | raw }}
                </div>

                <div class="container-fluid">
                        {{ items | raw }}
                </div>
            </div>

        </div>

    </div>


</div>


{% include "footer.html.twig" %}